.campo{
    margin: 24px 0;
}

.campo label{
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
    font-size: 24px;
}

.campo-text input{
    background-color: #fff;
    box-shadow: 10px 10px 30px rgba(0,0,0,.06);
    border-style: none;
    width: 100%;
    padding: 24px;
    font-size: 24px;
    box-sizing: border-box;
}

.campo-color input{
    height: 40px;
    width: 100%;
    padding: 5px 24px;
}

.campo input:focus{
    outline: none;
}